name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    environment: 
      name: production
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          config_timezone: Asia/Tokyo
          token: ${{ secrets.LOWLIGHTER }}
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          config_display: large
          config_order: isocalendar, languages
  actions-timeline:
    needs: [github-metrics]
    runs-on: ubuntu-latest
    steps:
    - uses: Kesin11/actions-timeline@v2
